*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #23272a;
}

.gray{
  background-color: lightgray;
}

.container{
  width: 90%;
  max-width: 1180px;
  margin: 0 auto;
}

.button {
  font-size: 14px;
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 10px 15px;
  border-radius: 40px;
}

.big {
  font-size: 18px;
  padding: 15px 20px;
}

.black{
  background-color: black;
  color: white;
}

.logo, header nav, .testo, .figura, .social, .prodotto, .compagnia, .risorse, .norme{
  float: left;
  }

/*header*/
header{
  height: 80px;
  background-color: #3161e0;
  line-height: 80px;
}

.logo{
  margin: 28px;
}

header nav{
  width: calc(100% - 300px);
  text-align: center;
}

nav ul{
  list-style: none;
}

header nav ul li{
  display: inline-block;
  padding: 0 10px;
}

header nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 16px;
}

#accedi{
  float: right;
}

/*jumbotron*/
.jumbotron{
  height: 500px;
  background-image: url(../img/jumbo.png);
  background-size: cover;
}

.jumbotron .container{
  color: white;
  max-width: 800px;
  padding-top: 100px;
  text-align: center;
}

.container h1{
  font-size: 50px;
  margin-bottom: 40px;
}

.container p{
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 40px;
}

/*main*/
.box{
  height: 500px;
  margin: 40px auto;
}

.testo, .figura{
  width: 49%;
  margin-top: 40px;
}

.figura img{
  width: 100%;
}

.testo h2, main .testo p, h3{
  width: 50%;
  color: #23272a;
  margin: 0 auto;
}

.testo h2{
  font-size: 2.5vw;
  margin-bottom: 10px;
  padding-top: 20px;
}

main .testo p{
  font-size: 1.4vw;
  line-height: normal;
}


.bottom{
  text-align: center;
  padding-bottom: 30px;
}

.bottom .testo, .bottom .figura{
  width: 100%;
}

.bottom .testo h2{
  width: 100%;
  font-size: 3.7vw;
}

.bottom .testo p{
  width: 90%;
}

.bottom .figura{
  margin-top: 0;
}

.bottom .figura img{
  width: 90%;
  margin: 0 auto;
}

h3{
  font-size: 2.5vw;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.star{
  width: 55%;
}

.bottom a{
  background-color: #8ea1e2;
  color: white;
}


footer{
  height: 600px;
  background-color: #23272a;
  padding: 60px;
}

.social{
  width: 25%;
}

.prodotto,.compagnia, .risorse, .norme{
  width: 20%;
}

footer .container h2{
  color: #7289da;
  font-size: 2.2vw;
  margin-bottom: 20px;
}

.social img{
  width: 1.5vw;
}

.social span, .social i, footer li{
  color: white;
}

.social i{
  padding-right: 30px;
  margin-top: 30px;
}

footer li:first-of-type{
  color: #7289da;
}

footer li{
  padding: 15px 0 0 99px;
}

footer li{
  font-size: 1.1vw;
}